@media (max-width: 1311px) {
    .footer-menu-2 {
        text-align: right;
    }

}

@media (max-width: 1175px) {
    .descr-img {
        width: 500px;
        /* height: 420px; */
    }

}

@media (max-width: 1060px) {
    .box-text {
        padding-right: 20px;
    }

}

@media (max-width: 1024px) {
    .container {
        margin-right: 40px;
        margin-left: 40px;
    }
    .container1 {
        margin-right: 40px;
        margin-left: 40px;
    }

    .container2 {
        margin-right: 40px;
        margin-left: 40px;
    }

    .container3 {
        margin-right: 40px;
        margin-left: 40px;
    }

    .container4 {
        margin-right: 40px;
        margin-left: 40px;
    }

    .container5 {
        margin-right: 40px;
        margin-left: 40px;
    }

    .description-title {
        font-size: 32px;
        line-height: 38.4px;
    }

    .descr-box p {
        font-size: 14px;
        line-height: 18px;
    }

    .info {
        font-size: 32px;
    }

    .icon {
        width: 42px;
        height: 42px;
    }

    .box-123 p{
        font-size: 14px;
        line-height: 18px;
    }

    .box-text {
        font-size: 20px;
        line-height: 24px;
    }

    .input p{
        font-size: 14px;
        line-height: 18px;
    }

    .input-text {
        font-size: 24px;
        line-height: 28.8px;
    }

    .search-text {
        width: 260px;
    }

    .sub-info-tex {
        font-size: 24px;
        line-height: 28.8px;
    }

    .sub-info-box-text p {
        font-size: 14px;
        line-height: 18px;
    }
}
/* ============================================== 768 ===================================================== */
@media (max-width: 768px) {
    .container {
        margin-right: 24px;
        margin-left: 24px;
    }

    .header-menu {
        justify-content: right;
    }

    .header-menu-list {
        display: none;
    }

    .container1 {
        margin-right: 24px;
        margin-left: 24px;
        flex-direction: column-reverse;
        justify-content: unset;
        height: 620px;
    }

    .descr-box {
        padding: 0;
        margin-top: 54px;
        align-items: center;
        /* max-width: 425px;
        min-width: 312px; */
       
    }

    .descr-img-block {
        padding: 0;
        display: block;
        margin-top: 32px;
    }

    .descr-img {
        width: 312px;
        height: 210px;
    }

    .description-title {
        text-align: center;
    }

    .descr-box p {
        text-align: center;
    }

   
    .container2 {
        margin-right: 24px;
        margin-left: 24px;
    }

    .info-box {
        margin-top: 54px;
        margin-bottom: 54px;
    }

    .box-123 {
        margin-bottom: 54px;
        height: 440px;
        flex-direction: column;
        
        justify-content: left;
        justify-content: space-between;
    }

    .icon {
        margin-bottom: 24px;
    }


    .inputField {
        height: 387px;
    }

    .container3 {
        margin-right: 24px;
        margin-left: 24px;
        justify-content: center;
        align-items: start;

    }

    .input-box {
        margin-top: 54px;
    }

    .input-text {
        text-align: center;
    }

    .input p{
        text-align: center;
    }

    .search-field {
        flex-direction: column;
        align-items: center;
    }

    .search-text {
        margin: 0;
        margin-bottom: 32px;
    }

    .submission {
        min-height: 620px;
    }

    .container4 {
        margin-right: 24px;
        margin-left: 24px;
        flex-direction: column;
        justify-content: unset;
    }

    .sub-img {
        width: 312px;
    }

    .sub-info-box {
        padding: 0;
        margin-top: 128px;
        width: 312px;
        height: 197px;
    }


    .footer {
        min-width: 360px;
        height: 460px;
        
    }

    .container5 {
        margin-right: 24px;
        margin-left: 24px;
        height: 100%;
    }

    .footer-menu {
        margin-top: 0;
        flex-direction: column;
        align-items: unset;
        height: 366px;
    }

    .footer-menu-1 {
        flex-direction: column;
        width: 111px;
        /* height: 226px; */
        line-height: 65px;
    }

    .twitter-img {
        margin: 16px;
    }

    .insta-img {
        margin: 16px;
    }

    .footer-menu-2 {
        text-align: left;
    }

    .footer-menu-3 {
        text-align: left;
    }
}

/* ========================================================================================= */
